{% extends 'base.html.twig' %}

{% block title %}LÄMNA - Accessibilité
{% endblock %}

{% block body %}
	<section class="rights">
		<h1>Accessibilité</h1>

		<h2>Engagement en faveur de l'accessibilité :</h2>
		<p>Les représentants du projet LÄMNA s’engage à rendre le site « https://lamna.app/ » accessible au plus grand nombre, y compris aux personnes en situation de handicap. Nous sommes déterminés à garantir que toutes les personnes, quelles que soient leurs capacités, puissent naviguer et accéder à l’ensemble du contenu de notre site de manière équitable et conviviale.
		</p>

		<h2>Mesures prises pour améliorer l'accessibilité :</h2>
		<ul>
			<li>Navigation intuitive : Nous avons mis en place une structure de navigation claire et intuitive pour faciliter l’accès aux informations importantes sur notre site. Les liens de navigation, les menus et les boutons sont conçus de manière à être facilement identifiables et utilisables par tous les visiteurs.</li>
			<li>Contenu alternatif : Nous fournissons des alternatives textuelles pour les images, ce qui permet aux lecteurs d’écran de décrire le contenu visuel aux personnes malvoyantes. De plus, nous nous efforçons de fournir des transcriptions pour les contenus audio et vidéo afin d’assurer leur accessibilité aux personnes sourdes ou malentendantes.</li>
			<li>Contraste et lisibilité : Nous veillons à maintenir un niveau de contraste suffisant entre le texte et l’arrière-plan pour faciliter la lecture pour tous les utilisateurs, y compris ceux ayant une déficience visuelle. (edited)</li>

			<li>Adaptabilité : Notre site est conçu pour être consulté sur différents appareils (ordinateurs, tablettes, smartphones) et différentes résolutions d’écran, afin de garantir une expérience cohérente et adaptée à tous les utilisateurs.</li>
			<li>Tests réguliers : Nous effectuons régulièrement des tests d’accessibilité pour identifier et corriger les éventuels problèmes d’accessibilité. Nous tenons compte des commentaires et des retours des utilisateurs pour améliorer continuellement notre site.</li>
		</ul>
		<p>
			Nous reconnaissons qu’il est essentiel d’améliorer en permanence l’accessibilité de notre site et nous nous engageons à poursuivre nos efforts en ce sens.
		</p>

		<h3>
			Contact</h3>
		<p>
			Si vous rencontrez des difficultés d’accessibilité sur notre site ou si vous avez des suggestions pour améliorer l’accessibilité, veuillez nous contacter à l’adresse suivante : contact.lamna@gmail.com.
		</p>
	</section>
{% endblock %}
