{% extends 'base.html.twig' %}

{% block title %}LÄMNA - Mentions légales{% endblock %}

{% block body %}
	<section class="rights">
		<h1>Mentions légales</h1>

		<h2>Éditeur du site</h2>
		<p>Équipe de LÄMNA</p>
		<p>E-mail : contact.lamna@gmail.com</p>
		<p>Responsable de la publication : Les représentants du projet LÄMNA</p>

		<h3>Hébergeur du site</h3>
		<p>OVH</p>
		<p>RCS Lille Métropole 424 761 419 00045</p>
		<p>Code APE 2620Z</p>
		<p>N° TVA : FR 22 424 761 419</p>
		<p>Siège social : 2 rue Kellermann – 59100 Roubaix – France</p>

		<h3>Propriété intellectuelle</h3>
		<p>Le site « https://lamna.app/ » et l’ensemble de son contenu (textes, images, vidéos, graphiques, etc.) sont la propriété exclusive des représentants du projet LÄMNA ou de tiers ayant accordé les droits nécessaires. Toute reproduction, représentation, modification, diffusion ou exploitation partielle ou totale de ce site, par quelque procédé que ce soit, sans autorisation préalable et écrite de l’association ou des ayants-droit, est strictement interdite et constitutive d’une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.</p>

		<h4>Protection des données personnelles</h4>
		<p>Les représentants du projet LÄMNA s’engage à respecter la confidentialité des données personnelles collectées sur le site.</p>

		<h4>Liens hypertextes</h4>
		<p>Le site « https://lamna.app/ » peut contenir des liens vers des sites tiers. Le site « https://lamna.app/ » n’exerce aucun contrôle sur ces sites et décline toute responsabilité quant à leur contenu et à leur utilisation.</p>

		<h4>Responsabilité</h4>
		<p>Les représentants du projet LÄMNA met tout en œuvre pour assurer l’exactitude et la mise à jour des informations présentes sur le site « https://lamna.app/ » Cependant, elle ne saurait être tenue pour responsable des éventuelles erreurs, omissions ou indisponibilités du site.</p>

		<h4>Modification des mentions légales</h4>
		<p>Les représentants du projet LÄMNA se réserve le droit de modifier à tout moment les présentes mentions légales. Les modifications entrent en vigueur dès leur publication sur le site.</p>
	</section>
{% endblock %}
